@{
    ViewData["Title"] = "Sobre o Patinhas Douradas";
}
<h2>@ViewData["Title"]</h2>


<h3> Trabalho de conclusão do curso técnico de informática da instituição: E.T.E Marechal Mascarenhas de Moraes</h3>
<p style="text-align: justify">
    Diante do cenário atual de animais abandonados no Brasil, as preocupações são muitas. Só aqui, existem cerca de 10 milhões de gatos e 20 milhões de cachorros abandonados. Destes, a expectativa de vida chega a, no máximo, dois anos (um cão normal vive entre dez e quinze anos).<br />
    Em cidades de grande porte, para cada cinco habitantes há um cachorro. Destes, 10% estão abandonados. No interior, em cidades menores, a situação não é muito diferente. Em muitos casos o número chega a 1/4 da população humana.<br />
    Diversos acontecimentos estimulam o crescimento destes números, como o descarte de filhotes recém nascidos.<br />
    Já na rua, diversas situações dificultam suas vidas. Existem muitas doenças com a taxa de mortalidade gigante, como para gatos o FIV (Imunodeficiência felina, ou “Aids”) e o FELV (Leucemia felina), e para cães o Parvovírus e a Cinomose. Além disso, os maus-tratos são mais frequentes do que se pode imaginar, basta pesquisar um pouco mais sobre o assunto e é possível notar a quantidade imensa de denúncias e ocorrências.<br />
    O Brasil não tem leis efetivas para defender os animais, principalmente de maus-tratos, o que já existe em outros países.<br />
    É possível então notar a grande dificuldade que tais animais enfrentam no seu cotidiano para sobreviver, e a única forma de ajudá-los é através de doações, adoções e pessoas dispostas a ajudar. Deste modo, o problema a ser combatido neste projeto é o grande número de animais de rua existente em nosso país, oferecendo meios para diminuir estes números exorbitantes.<br />
    
    Levando em conta os fatos citados acima, este sistema web foi desenvolvido usando C# como linguagem, asp.net core como plataforma, Entity e Identity frameworks como ferramentas.<br />
    Foi criado com o objetivo de diminuit a quantidade de animais de rua na região metropolitana de Porto Alegre. Servindo como uma ponte de conexão entre um doador e um possível adotante.<br />
    Durante o processo de desenvolvimento, a doação se manteve como um processo direto entre as duas partes, como um processo humano e delicado.

</p>
