@model TCC.Models.ViewModels.RegistrarAnimalFormViewModel
@{
    ViewData["Title"] = "Registrar Animal";
}

<h2>@ViewData["Title"]</h2>
<form enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label class="col-lg-2 control-label">Espécie</label>
        <select class="form-control" asp-for="Animal.Especie" onchange="java_script_: animaltipo(this.options[this.selectedIndex].value)">
            <option selected value="" disabled hidden>---SELECIONE A ESPÉCIE--</option>
            <option value="Cachorro">Cachorro</option>
            <option value="Gato">Gato</option>
        </select>
        <span asp-validation-for="Animal.Especie" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Sexo:</label>
        <select asp-for="Animal.Sexo" class="form-control">
            <option selected value="" disabled hidden>---SELECIONE O SEXO--</option>
            <option value="Macho">Macho</option>
            <option value="Fêmea">Fêmea</option>
        </select>
        <span asp-validation-for="Animal.Sexo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <span class="glyphicon glyphicon-picture"></span>
        <label asp-for="Fotos"></label>
        <input id="fotos" multiple class="form-control" asp-for="Fotos" onchange="java_script_: ValidateFile($('#fotos'))" />
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label" asp-for="Animal.Nome"></label>
        <input asp-for="Animal.Nome" class="form-control" />
        <span asp-validation-for="Animal.Nome" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label" asp-for="Animal.Porte"></label>
        <select asp-for="Animal.Porte" class="form-control">
            <option selected value="" disabled hidden>---SELECIONE O PORTE--</option>
            <option value="Pequeno">Pequeno</option>
            <option value="Médio">Médio</option>
            <option value="Grande">Grande</option>
        </select>
        <span asp-validation-for="Animal.Porte" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label" asp-for="Saude"></label><br />
        <input name="Saude" type="checkbox" value="Castrado" />Castrado<br />
        <input name="Saude" type="checkbox" value="Vermifugado" />Vermifugado<br />
        <div id="cachorro" style="display:none">
            <label class="control-label">Vacinas:</label><br />
            <input name="Vacina" type="checkbox" value="V8" />V8<br />
            <input name="Vacina" type="checkbox" value="V10" />V10<br />
            <input name="Vacina" type="checkbox" value="Antirrábica" />Antirrábica<br />
        </div>
        <div id="gato" style="display:none">
            <label class="control-label">Vacinas:</label><br />
            <input name="Vacina" type="checkbox" value="V3" />V3<br />
            <input name="Vacina" type="checkbox" value="V4" />V4<br />
            <input name="Vacina" type="checkbox" value="V5" />V5<br />
        </div>
        <div class="form-group" style="position:relative; top:10px">
            <label class="col-lg-3 control-label" asp-for="Animal.Obs"></label>
            <textarea class="form-control" asp-for="Animal.Obs" rows="3" cols="160" placeholder="Obs:...."></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Sobre o amiguinho:</label>
        <textarea class="form-control" asp-for="Animal.Descricao" placeholder="Sobre o amiguinho...." rows="8" cols="160"></textarea>
        <span asp-validation-for="Animal.Descricao" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar Animal</button>
    <a asp-action="Index" asp-controller="Animal" class="btn btn-danger">Cancelar</a>
</form>


@section Scripts{
    <script>
        function animaltipo(animal) {
            if (animal == "Cachorro") {
                cachorro.style.display = 'inline';
                gato.style.display = 'none';
            } else if (animal == "Gato") {
                gato.style.display = 'inline';
                cachorro.style.display = 'none';
            }
        }

        function ValidateFile(e) {
            var fileCount = document.getElementById('fotos').files.length;

            if (fileCount > 3) {
                alert("Insira no máximo 3 imagens do animal!!!");
                e.wrap('<form>').closest('form').get(0).reset();
                e.unwrap();
                return false;
            }
        }

    </script>
}
