
@{
    ViewData["Title"] = "AfterRegister";
}

<h1 class="success">Parabéns</h1>
<h3>Sua conta foi criada com sucesso.</h3>
<h4>Verifique seu email, enviamos um link de confirmação de email, você não poderá acessar sua conta sem antes confirmá-lo.</h4>

