@model TCC.Models.ViewModels.RegistrarUsuarioFormViewModel

@{
    ViewData["Title"] = "Registrar";
}

<h1>@ViewData["Title"]</h1>


<div class="col-md-12">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <p>* Campos obrigatórios</p>
        <div class="form-group">
            <label>*Email</label>
            <input asp-for="Email" placeholder="Ex: ana@gmail.com" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>*Senha(A senha deve ter no mínimo 6 caracteres)</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>*Confirmar senha</label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>*Nome</label>
            <input asp-for="Usuario.Nome" placeholder="Ex: Ana" class="form-control" />
            <span asp-validation-for="Usuario.Nome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>*Telefone</label>
            <input id="telefone" asp-for="Usuario.Telefone" class="form-control" />
            <span asp-validation-for="Usuario.Telefone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>*Cidade</label>
            @Html.DropDownListFor(m => m.Usuario.CidadeId, new SelectList(Model.Cidades, "Id", "Nome"), "Selecione a Cidade--", new { @class = "form-control" })
            <span asp-validation-for="Usuario.CidadeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">*Selecione o tipo de sua moradia:</label>
            <label><input asp-for="Usuario.Moradia" value="Casa" type="radio" />Casa</label>
            <label><input asp-for="Usuario.Moradia" value="Apartamento" type="radio" />Apartamento</label>
            <span asp-validation-for="Usuario.Moradia" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">*Você possui telas nas saídas de sua residência(portas, janelas)?</label>
            <label><input asp-for="Usuario.Protecao" value="Sim" type="radio" />Sim</label>
            <label><input asp-for="Usuario.Protecao" value="Não" type="radio" />Não</label>
            <span asp-validation-for="Usuario.Protecao" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">*Quantos animais você possui em sua residência?</label>
            <input asp-for="Usuario.QtAnimais" class="form-control" />
            <span asp-validation-for="Usuario.QtAnimais" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label style="display: block">Sobre mim:</label>
            <textarea asp-for="Usuario.Bio" placeholder="Sobre mim...." rows="8" cols="160"></textarea>
            <span asp-validation-for="Usuario.Bio" class="text-danger"></span>
        </div>
        <p>Ao clicar em registrar, você aceita automaticamente os <a style="display: inline" id="popup">termos de serviço do site.</a></p><br />
        <button type="submit" class="btn btn-primary">Registrar</button>
        <a asp-action="Index" asp-controller="Animal" class="btn btn-danger">Cancelar</a>
        <a asp-action="Login" class="text-success">Já possui uma conta? Faça Login!</a>
    </form>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2 style="color: #f89406;">TERMOS DE SERVIÇO</h2>
        </div>
        <div class="modal-body">
            <h4>Tenha ciência que:</h4>
            <p style="text-align: justify">
                TERMOS DE SERVIÇO<br />

                ----<br />

                VISÃO GERAL<br />

                Esse site é operado pelo Patinhas Douradas. Em todo o site, os termos “nós”, “nos” e “nosso” se referem ao Patinhas Douradas. O Patinhas Douradas proporciona esse site, incluindo todas as informações, ferramentas e serviços disponíveis deste site para você, o usuário, com a condição da sua aceitação de todos os termos, condições, políticas e avisos declarados aqui.<br />

                Ao visitar nosso site, você está utilizando nossos “Serviços”. Consequentemente, você  concorda com os seguintes termos e condições (“Termos de serviço”, “Termos”), incluindo os termos e condições e políticas adicionais mencionados neste documento e/ou disponíveis por hyperlink. Esses Termos de serviço se aplicam a todos os usuários do site, incluindo, sem limitação, os usuários que são navegadores, doadores ou adotantes .<br />

                Por favor, leia esses Termos de serviço cuidadosamente antes de acessar ou utilizar o nosso site. Ao acessar ou usar qualquer parte do site, você concorda com os Termos de serviço. Se você não concorda com todos os termos e condições desse acordo, então você não pode acessar o site ou usar quaisquer serviços. Se esses Termos de serviço são considerados uma oferta, a aceitação é expressamente limitada a esses Termos de serviço.<br />

                Quaisquer novos animais que forem adicionados à loja atual também devem estar sujeitos aos Termos de serviço. Você pode revisar a versão mais atual dos Termos de serviço quando quiser nesta página. Reservamos o direito de atualizar, alterar ou trocar qualquer parte desses Termos de serviço ao publicar atualizações e/ou alterações no nosso site. É sua responsabilidade verificar as alterações feitas nesta página periodicamente. Seu uso contínuo ou acesso ao site após a publicação de quaisquer alterações constitui aceitação de tais alterações.<br />

                <br />
                SEÇÃO 1 - TERMOS DO SITE<br />

                Ao concordar com os Termos de serviço, você confirma que você é maior de idade em seu estado ou província de residência e que você nos deu seu consentimento para permitir que qualquer um dos seus dependentes menores de idade usem esse site.<br />

                Você não deve registrar animais para qualquer fim ilegal ou não autorizado, incluindo venda. Você também não pode, ao usufruir deste Serviço, violar quaisquer leis em sua jurisdição (incluindo, mas não limitado, a leis de direitos autorais).<br />

                Você não deve transmitir nenhum vírus ou qualquer código de natureza destrutiva.<br />

                Violar qualquer um dos Termos tem como consequência a rescisão imediata dos seus Serviços.<br />
                <br />
                SEÇÃO 2 - TERMOS DE DOAÇÃO<br />

                Ao disponibilizar animais para a doação, o sistema irá utilizar a cidade que você mora como referência. Tenha ciência que, nós não nos responsabilizamos por quaisquer problemas durante o processo de doação.<br />

                Todo o processo é de responsabilidade exclusiva do doador e do adotante, somos apenas um meio de aproximar as duas partes e facilitar para que o bichinho tenha um lar o mais rápido possível.<br />

                Você não deve cadastrar múltiplos animais no mesmo registro, também não deve usar fotos de animais diferentes ou humanos para representar um animal.<br />

                Caso o animal cadastrado não esteja conforme os padrões do site, um administrador ou moderador poderá apagar o registro do animal e do doador sem aviso prévio ou posterior.<br />
                <br />
                SEÇÃO 3 - USO DE DADOS<br />

                Ao aceitar os termos, você concorda que seus dados como nome, email, telefone, cidade onde reside, quantidade de animais cadastrados e doados possam ser vistos por quaisquer usuários navegantes no site.<br />

                Sua senha não será conhecida por nenhum administrador, pois será criptografada, portanto não divulgue sua senha para ninguém, nenhum moderador pedirá tal informação.<br />

                Seus dados poderão ser usados para questões de pesquisa e estatística do próprio site, jamais serão compartilhados com outras empresas ou pessoas.<br />

                O sistema utiliza um sistema eficiente de segurança de dados, qualquer vazamento de informação de sua conta será de sua responsabilidade.<br />
            </p>
        </div>
    </div>

</div>


<script src="~/lib/jquery-mask-plugin/src/jquery.mask.js" type="text/javascript" asp-append-version="true"></script>
<script>
    $('#telefone').mask('(00) 00000-0000', { placeholder: "(51) 99999-9999" });

    var modal = document.getElementById("myModal");

    var btn = document.getElementById("popup");

    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function () {
        modal.style.display = "block";
    }

    span.onclick = function () {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>


