@model TCC.Models.ViewModels.RegistrarUsuarioFormViewModel

@{ 
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Usuario.Nome" class="control-label"></label>
                    <input asp-for="Usuario.Nome" class="form-control" />
                    <span asp-validation-for="Usuario.Nome" class="text-danger"></span>
                </div>                
                <div class="form-group">
                    <label asp-for="Usuario.Telefone" class="control-label"></label>
                    <input asp-for="Usuario.Telefone" class="form-control" />
                    <span asp-validation-for="Usuario.Telefone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Usuario.CidadeId" class="control-label"></label>
                    @Html.DropDownListFor(m => m.Usuario.CidadeId, new SelectList(Model.Cidades, "Id", "Nome"), "Selecione a Cidade--", new { @class = "form-control" })
                    <!--<select asp-for="Usuario.CidadeId" asp-items="@(new SelectList(Model.Cidades,"Id","Nome"))" class="form-control"></select>-->
                    <span asp-validation-for="Usuario.CidadeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Selecione o tipo de sua moradia:</label>
                    <label><input asp-for="Usuario.Moradia" value="Casa" type="radio" />Casa</label>
                    <label><input asp-for="Usuario.Moradia" value="Apartamento" type="radio" />Apartamento</label>
                    <span asp-validation-for="Usuario.Moradia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Você possui telas nas saídas de sua residência(portas, janelas)?</label>
                    <label><input asp-for="Usuario.Protecao" value="Sim" type="radio" />Sim</label>
                    <label><input asp-for="Usuario.Protecao" value="Não" type="radio" />Não</label>
                    <span asp-validation-for="Usuario.Protecao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Quantos animais você possui em sua residência?</label>
                    <input asp-for="Usuario.QtAnimais" class="form-control" />
                    <span asp-validation-for="Usuario.QtAnimais" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>
