@model TCC.Models.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

<h2>Redefinir senha</h2>
<h3>Digite sua nova senha</h3>

<form method="post">
    <div class="form-group">
        <label asp-for="newPassword"></label>
        <input asp-for="newPassword" class="form-control" placeholder="Digite sua nova senha" />
        <span asp-validation-for="newPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="newPasswordConfirmation"></label>
        <input asp-for="newPasswordConfirmation" class="form-control" placeholder="Repita sua nova senha" />
        <span asp-validation-for="newPasswordConfirmation" class="text-danger"></span>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

