@model Usuario
@{
    ViewData["Title"] = "Editar";
}

<h2>@ViewData["Title"]</h2>
<h4>Usuário</h4>
<hr />
<div class="row">
    <div class="col-md-3">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" type="Password" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CEP" class="control-label"></label>
                <input asp-for="CEP" class="form-control" />
                <span asp-validation-for="CEP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Selecione o tipo de sua moradia:</label>
                <label><input asp-for="Moradia" value="Casa" type="radio" />Casa</label>
                <label><input asp-for="Moradia" value="Apartamento" type="radio" />Apartamento</label>
                <span asp-validation-for="Moradia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Você possui telas nas saídas de sua residência(portas, janelas)?</label>
                <label><input asp-for="Protecao" value="Sim" type="radio" />Sim</label>
                <label><input asp-for="Protecao" value="Não" type="radio" />Não</label>
                <span asp-validation-for="Protecao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Quantos animais você possui em sua residência?</label>
                <input asp-for="QtAnimais" class="form-control" />
                <span asp-validation-for="QtAnimais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}